@import "tailwindcss";

:root {
  --background: #0a0a0a;
    --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --font-serif: var(--font-instrument-serif);
  --font-manrope: var(--font-manrope);
}

@layer base {
  h1 {
    @apply text-[108px] font-serif tracking-[-0.015em];
  }

  h4 {
    @apply text-[80px] font-serif tracking-[-0.015em];
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Instrument Sans, Instrument Serif, Manrope sans-serif;
  overflow-x: hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome/Safari */
}
